* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One";
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5efff;
  position: relative;
}
header #Logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 2rem;
}
header #Logo img {
  height: 40px;
}
header #Logo span {
  margin-left: 5px;
  font-weight: 400;
  font-size: 2rem;
}

/*** search bar ****/
header #searchBar {
  display: flex;
  align-items: center;
  border: 1.8px solid black;
  border-radius: 50px;
}
header #searchForm {
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 10px;
  width: 30rem;
}
header #searchForm label img {
  height: 30px;
}
header #searchForm input {
  all: unset;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
  display: flex;
}
header #searchBar button {
  all: unset;
  height: 100%;
  background-color: #cdc1ff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  padding: 8px;
}
#root {
  padding: 0.5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 22rem;
  gap: 0.5rem;
}

.picture-card {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.picture {
  height: 100%;
}
.picture img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.picture-metadata {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: none;
  align-items: center;
}
.picture-metadata img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.picture-metadata span {
  margin-left: 10px;
  color: #f5efff;
}

.picture-card:hover .picture-metadata {
  display: flex;
  transition: display 1s ease-in-out;
}
.picture-card:hover .picture img {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5); /* Inner shadow */
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
#pagination button {
  all: unset;
  background-color: #f5efff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.5s ease-in-out;
}
#pagination button:hover {
  background-color: #a8a8a8;
  transition: background-color 0.5s ease-in-out;
}
#pagination #currentPage {
  font-size: 1.5rem;
}
