* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One";
}
body {
  background-color: #f5efff;
}
header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5d9f2;
  position: relative;
}
header #Logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
}

header #Logo img {
  height: 40px;
}
header #Logo span {
  margin-left: 5px;
  font-weight: 400;
  font-size: 2rem;
}

/*** search bar ****/
header .searchOptions {
  display: flex;
  margin-right: 5px;
  gap: 0.2rem;
}
header #searchBar {
  display: flex;
  align-items: center;
  border: 1.8px solid black;
  border-radius: 50px;
}
header #searchForm {
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 10px;
  flex: 1;
}
header #searchForm label img {
  height: 30px;
}
header #searchForm input {
  all: unset;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}
header #searchBar button {
  all: unset;
  height: 100%;
  background-color: #cdc1ff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  padding: 0 5px;
}
header #RandomPhotosButton {
  all: unset;
  background-color: #cdc1ff;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1.8px solid black;
  border-radius: 50px;
  padding: 8px;
}
#root {
  padding: 0.5rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 22rem;
  gap: 0.5rem;
}

.picture-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.picture {
  height: 100%;
}
.picture img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.picture-metadata {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}
.picture-metadata img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.metadataRightSide {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  align-items: flex-start;
}
.metadataRightSide .download-btn {
  position: relative;
  all: unset;
  color: #e5d9f2;
  text-align: left;
  z-index: 6;
}
.metadataRightSide .download-btn:hover {
  color: #5800f4;
}
.picture-metadata span {
  color: #f5efff;
  text-align: left;
}

.picture-card:hover .picture-metadata {
  opacity: 1;
  visibility: visible;
}
.picture-card:hover .picture img {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}
.pic-shadow {
  position: absolute;
  inset: 0;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 5;
}
.picture-card:hover {
  & .pic-shadow {
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
  }
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
#pagination button {
  all: unset;
  background-color: #f5efff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.5s ease-in-out;
}
#pagination button:hover {
  background-color: #cdc1ff;
  transition: background-color 0.5s ease-in-out;
}
#pagination #currentPage {
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* Your styles for tablets go here */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 22rem;
    gap: 0.5rem;
  }
  #root {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  /* Your styles for phones go here */
  header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header #Logo {
    margin-left: 0;
  }
  header #Logo img {
    height: 30px;
  }
  header #Logo span {
    margin-left: 5px;
    font-weight: 400;
    font-size: 1.5rem;
  }

  /*** search bar ****/
  header .searchOptions {
    display: flex;
  }
  header #searchBar {
    display: flex;
    align-items: center;
    border: 1.8px solid black;
    border-radius: 50px;
  }
  header #searchForm {
    /* display: flex;
    align-items: center;
    flex: 1; */
    padding: 5px 0px 5px 10px;
  }
  header #searchForm label img {
    height: 20px;
  }
  header #searchForm input {
    padding-left: 0.8rem;
    font-size: 1.1rem;
  }
  header #searchBar button {
    background-color: #cdc1ff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    padding: 0px 3px;
  }
  header #RandomPhotosButton {
    font-size: 1rem;
    cursor: pointer;
    border: 1.8px solid black;
    border-radius: 50px;
    padding: 8px;
  }
  #root {
    padding: 0.5rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    gap: 0.5rem;
  }
}
